/* layout --------------------------------- */
.App {
	min-width: 1000px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.main {
	flex-grow: 1;
	width: 1000px;
	margin: auto;
}

/* 버튼 */
.btn-group {
	margin-top: 20px;
	text-align: right;
}
.btn {
	background-color: #eee;
	width: 80px;
	height: 32px;
	border: 1px solid #ddd;
	border-radius: 4px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	font: inherit;
}

/* 텍스트 숨김처리를 위한 CSS */
.a11y-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}
